<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <div id="header">
      <%= link_to 'Make It Fun Q&A', root_path %>
      </div>




       <div id="nav">
           <ul>
               <li>
                    <%= link_to 'Home', root_path %>
               </li>
                   <% if logged_in? %>
                       <li>

          <%= "Logged in as #{current_user.username}" %>
          <%= link_to "(logout)", logout_path, method: 'delete'%>
          </li>
        <% else %>
        <li>
         <%= link_to "(login)", login_path %>
         </li><li>
         <%= link_to "(register)", register_path %>
         </li>
         <% end %>

           </ul>
       </div>
        <p id="flash"><%= flash.notice %></p>
        <div id="content"><%= yield %></div>
        <div id="footer">
        &copy; Make It Fun <%= Date.today.year %>
        </div>

</div>




</body>
</html>
